/.project
/.pydevproject
/.idea
/.settings
/doc/build
*.pyc
.idea
/doc.source
*build/
/dist
/Visualiser.egg-info
*.o
*.exe
vis
/.cproject
/Debug/
application_generated_data_files
reports
receiver
sender
